.loading-overlay-container {
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
